/* From */


/*  Image upload */
body{
   background-image: url("../images/back1.jpg")!important;
   background-size: cover;
   color: black!important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
 .main-logo{
    position: absolute;
    width: 11%;
    top: 4px;
    left: 3%;
 }
 .navbar-header{
    background-color: darkkhaki;
 }

 .container-fluid{
    padding-right: 0px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;
 }
 .container{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 0px;
 }
 .repp{
    background-color: beige;
 }

 .navbar-toggle{
    margin-right: 6%;
 }

 .description {
    width: 95%;
    margin-top: 8px;
}

.map{
  width: 350px;
  height: 300px;

}
.map, .description, .reportBTN, #userId,#confirm_password, #passwordId{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 2.89);
}
a.nounderline:link
{
text-decoration:none;
}

.reports{
   width: 100%;
   height: 100%;
   position: absolute;
   display: block;
   text-align: center;
   padding: 1%;
   /* background-image: url("images/back1.png"); */
}


.reportBTN{
   background-color: rgb(228, 236, 228);
  border: none;
  color: rgb(22, 21, 21);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.reportBTN:hover {
   background-color: #555555;
   color: white;
}

.reportsContainer{
   width: 100%;
   /* margin-left: 1%; */
   height: 100%;
   /* padding: 10px; */
}
h2{

  font-family:Times New Roman;
     font-weight: bold;
     color: black;
     font-size: 40px;
}

th{
  font-size: 12px;

}
.userName{
  font-weight: bold;
}
.navbar{
  margin-bottom:0px;
}
.imgLabel{
  float: left;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
   margin-right: 0;
   margin-left: -15px;
}

.map{
   position: relative;
   margin: -2%;
}

.row {
   margin-right: 0; 
   margin-left: -15px;
}

.main-login{
   position: inherit;
    margin-top: 30%;
}